{% set metadata_attributes = create_attribute() %}
{%
  set metadata_classes = [
    'node__metadata',
    'metadata',
    'metadata--author',
  ]
%}

{% if display_submitted %}
  <article{{ metadata_attributes.addClass(metadata_classes) }}>
    {{ author_picture }}
    <div{{ author_attributes.addClass('metadata--author__submitted') }}>
      <span class="metadata--publish__author">by {{ author_name }}</span>
      <span class="metadata--publish__date">{{ content.published_at }}</span>
      {{ metadata }}
    </div>
  </article>
{% endif %}

<div class="node__read-time">
  <span class="read-time__label">Read Time:</span> {{ content.node_read_time }}
</div>

{{ content|without('links', 'smart_title', 'field_featured_image', 'field_tags', 'published_at', 'node_read_time', 'extra_field_readmore_extrafield') }}
