{{ content.smart_title }}

{% if display_submitted %}
  <div class="node__metadata">
    {{ author_picture }}
    <div{{ author_attributes.addClass('metadata-submitted') }}>
      <span class="publish_author">{{ author_name }}</span>
      <span class="publish_date">{{ content.published_at }}</span>
      {{ metadata }}
    </div>
  </div>
{% endif %}

{{ content|without('links', 'smart_title', 'field_featured_image', 'field_tags', 'published_at', 'extra_field_readmore_extrafield') }}
