{#{% extends '@organisms/menu/menu.html.twig' %}#}

{% set classes = [
  'menu--footer',
  'no-bullets',
  'flex'
] %}

{% set item_classes = [
  'footer-item'
] %}

{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, classes, item_classes, 0) }}

{% macro menu_links(items, attributes, classes, item_classes, menu_level) %}
  {% import _self as menus %}

  <ul{{ attributes.addClass(classes) }}>

    {% for item in items %}

      <li{{ item.attributes.addClass(item_classes) }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>

    {% endfor %}

  </ul>

{% endmacro %}
